.header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.3125rem 0.625rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }
}